@use '../../00-style/breakpoints' as breakpoints;

.footer {
    & {
        background-color: var(--dark);
        padding: 5rem 1.5rem;
        gap: 3.5rem;
        display: flex;
        flex-direction: column;

        @media (min-width: breakpoints.$breakpoint-lg) {
            justify-content: space-between;
            gap: 0;
            flex-direction: row;
            padding: 7.5rem 5rem;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 900;
        color: var(--light);
        text-transform: uppercase;
        
        @media(min-width: breakpoints.$breakpoint-lg) {
            font-size: 2.5rem;
        }
    }

    &__container {
        @media(min-width: breakpoints.$breakpoint-lg) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}