@use '../../00-style/breakpoints' as breakpoints;

$fontSizeMobile: 1.125rem;
$fontSizeDesktop: 1.75rem;

.hero {
    & {
        background-color: var(--dark);
        color: var(--light);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem 1.5rem;
    
        @media(min-width: breakpoints.$breakpoint-lg) {
            padding-top: 2.5rem;
        }
    }
    
    &__content {
        @media(min-width: breakpoints.$breakpoint-lg) {
            max-width: breakpoints.$breakpoint-max-width-lg;
        }
    }
    
    &__title {
        font-weight: 1000;
        text-align: center;
        font-size: 2.125rem;
        margin-bottom: 1.5rem;

        @media(min-width: breakpoints.$breakpoint-lg) {
            font-size: 6.43rem;
            margin-bottom: 2rem;
        }
    }
    
    &__description-wrapper {
        width: 1120px;
        overflow: hidden;
        margin-bottom: 1.5rem;

        @media(min-width: breakpoints.$breakpoint-lg) {
            margin-bottom: 1.5rem;
        }
    }

    &__description-slider {      
        display: flex;
        width: fit-content;
        animation: scroll 20s linear infinite;
        list-style: disc;
        gap: calc($fontSizeMobile * 2);

        @media(min-width: breakpoints.$breakpoint-lg) {
            gap: calc($fontSizeDesktop * 2);
        }

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }

    &__description-item {
        white-space: nowrap;
        margin-left: -4px;
        font-weight: 400;
        font-size: $fontSizeMobile;

        @media(min-width: breakpoints.$breakpoint-lg) {
            font-size: $fontSizeDesktop;
            margin-left: -14px;
        }
    }

    @keyframes scroll {
        from {
            transform: translateX(0.55%);
        }
        to {
            transform: translateX(-33.3333%);
        }
    }
}