@use '../../00-style/breakpoints' as breakpoints;

.block-text-image-link {
    & {
        padding: 5rem 1.5rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;

        @media(min-width: breakpoints.$breakpoint-lg) {
            max-width: breakpoints.$breakpoint-max-width-lg;     
        }
    }

    &__text-container {
        max-width: 358px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    &__title {
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        
        @media(min-width: breakpoints.$breakpoint-lg) {
            font-size: 2.5rem;       
        }
    }

    &__link {
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        border: 3px solid var(--rose);
        font-weight: 900;
        width: 100%;
        max-width: max-content;
        text-decoration: none;
        color: var(--dark)
    }

    &__images-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    &__images-column {
        gap: 30px;
        display: flex;
        flex-direction: column;

        &:first-child {
            margin-top: 76px;
            align-items: end;
        }
    }
}